[Unit]
Description=Commonwealth
Documentation=https://example.com
After=network.target

[Service]
Environment=PORT=3002
Environment=NODE_ENV=development
Type=simple
User=ec2-user
ExecStart=(cd /home/ec2-user/subatomicWar && /home/ec2-user/.nvm/versions/node/v17.3.0/bin/node /home/ec2-user/subatomicWar/src/server/index.js)
Restart=on-failure

[Install]
WantedBy=multi-user.target